@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

@layer base {
  body {
    @apply bg-[url("../public/assets/bg.png")] bg-no-repeat bg-cover
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  p{
    @apply tracking-normal
  }
  li {
    @apply cursor-pointer
   }

  button {
    @apply shadow-md 
  }
}

@layer components {
  .static{
    background: linear-gradient(87.05deg, #6462F0 0%, #9190E9 95.5%);
  }
  .static-border{
    backdrop-filter: blur(32px);
  }
}